<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualisys.parkassist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.qualisys.parkassist.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qualisys.parkassist.ForecastDetail"
            android:label="@string/title_activity_forecast_detail"
            android:parentActivityName="com.qualisys.parkassist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diego.sunshine.MainActivity" />
        </activity>
        <activity
            android:name="com.qualisys.parkassist.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.qualisys.parkassist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qualisys.parkassist.MainActivity" />
        </activity>

        <provider
            android:name="com.qualisys.parkassist.data.WeatherProvider"
            android:authorities="com.qualisys.parkassist" />


        <service android:name="com.qualisys.parkassist.service.SunshineService"/>
        <receiver android:name="com.qualisys.parkassist.service.SunshineService$AlarmReceiver"/>

    </application>

</manifest>
